# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono auto generated)
mono_crash.*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# VS Code directories
.vscode/

# Log files
*.log

# Visual Studio
*.vspx
*.vspf

# Other
*.pdb
*.log
